@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E203F;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
}

.nav {
    background-color: #2A2852;
    box-sizing: border-box;

    margin-top: 30px;
    padding: 20px 10px;
    border-radius: 50px;
}

.nav a {
    padding: 10px 50px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.nav .active {
    background-color: #E56275;
    color: #2A2852;
}